---
import SmallText from '../typography/SmallText.astro'
import H1 from '../typography/H1.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import { Image } from 'astro:assets'
import PumpRepairPicture from '@/assets/PumpRepairPicture.jpg'
import Pumprepairserv from '@/assets/Pumprepairserv.gif'
import Pumprepairserv2 from '@/assets/Pumprepairserv2.gif'
import Pumprepair3 from '@/assets/Pumprepair3.gif'
import Pumprepair4 from '@/assets/Pumprepair4.gif'
import { Separator } from '@/components/ui/separator'
import FooterLinks from '../typography/FooterLinks.astro'
import { Button } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section>
  <div class="container mx-auto px-6 py-10">
    <H1>{t('serv-title4')}</H1>

    <div class="mx-auto mt-3 flex">
      <span class="inline-block h-1 w-40 rounded-full bg-emerald-400"></span>
      <span class="mx-1 inline-block h-1 w-3 rounded-full bg-emerald-500"
      ></span>
      <span class="inline-block h-1 w-1 rounded-full bg-emerald-600"></span>
    </div>
    <div class="mt-8 lg:flex lg:items-center xl:mt-12">
      <div
        class="grid w-full grid-cols-1 gap-8 md:grid-cols-2 lg:w-1/2 xl:gap-16"
      >
        <div class="space-y-3">
          <Card class="w-[350px]">
            <CardHeader>
              <div class="wrap">
                <div class="circle">
                  <Image class="w-full" src={Pumprepairserv} alt="" />
                </div>
              </div>
              <CardTitle>
                <h3
                  class="mb-6 mt-5 bg-gradient-to-r from-sky-500 via-cyan-400 to-emerald-400 bg-clip-text text-base font-bold text-transparent"
                >
                  {t('serv-hero41title')}
                </h3>
              </CardTitle>
              <Separator class="my-1" />
              <CardDescription>
                <SmallText>{t('serv-hero41desc')}</SmallText>
              </CardDescription>
            </CardHeader>
            <CardContent>
              <CardFooter class="mt-5 flex justify-between">
                <Button variant="outline">
                  <FooterLinks text={t('f9-tittle')} , href={t('f9-href')} />
                </Button>
              </CardFooter>
            </CardContent>
          </Card>
        </div>

        <div class="space-y-3">
          <Card class="w-[350px]">
            <CardHeader>
              <div class="wrap">
                <div class="circle">
                  <Image class="w-full" src={Pumprepairserv2} alt="" />
                </div>
              </div>
              <CardTitle>
                <h3
                  class="mb-6 mt-5 bg-gradient-to-r from-sky-500 via-cyan-400 to-emerald-400 bg-clip-text text-base font-bold text-transparent"
                >
                  {t('serv-hero42title')}
                </h3>
              </CardTitle>
              <Separator class="my-1" />
              <CardDescription>
                <SmallText>{t('serv-hero42desc')}</SmallText>
              </CardDescription>
            </CardHeader>
            <CardContent>
              <CardFooter class="mt-5 flex justify-between">
                <Button variant="outline">
                  <FooterLinks text={t('f10-tittle')} , href={t('f10-href')} />
                </Button>
              </CardFooter>
            </CardContent>
          </Card>
        </div>

        <div class="space-y-3">
          <Card class="w-[350px]">
            <CardHeader>
              <div class="wrap">
                <div class="circle">
                  <Image class="w-full" src={Pumprepair3} alt="" />
                </div>
              </div>
              <CardTitle>
                <h3
                  class="mb-6 mt-5 bg-gradient-to-r from-sky-500 via-cyan-400 to-emerald-400 bg-clip-text text-base font-bold text-transparent"
                >
                  {t('serv-hero43title')}
                </h3>
              </CardTitle>
              <Separator class="my-1" />
              <CardDescription>
                <SmallText>{t('serv-hero43desc')}</SmallText>
              </CardDescription>
            </CardHeader>
            <CardContent>
              <CardFooter class="mt-5 flex justify-between">
                <Button variant="outline">
                  <FooterLinks text={t('f11-tittle')} , href={t('f11-href')} />
                </Button>
              </CardFooter>
            </CardContent>
          </Card>
        </div>

        <div class="space-y-3">
          <Card class="w-[350px]">
            <CardHeader>
              <div class="wrap">
                <div class="circle">
                  <Image class="w-full" src={Pumprepair4} alt="" />
                </div>
              </div>
              <CardTitle>
                <h3
                  class="mb-6 mt-5 bg-gradient-to-r from-sky-500 via-cyan-400 to-emerald-400 bg-clip-text text-base font-bold text-transparent"
                >
                  {t('serv-hero44title')}
                </h3>
              </CardTitle>
              <Separator class="my-1" />
              <CardDescription>
                <SmallText>{t('serv-hero44desc')}</SmallText>
              </CardDescription>
            </CardHeader>
            <CardContent>
              <CardFooter class="mt-5 flex justify-between">
                <Button variant="outline">
                  <FooterLinks text={t('f12-tittle')} , href={t('f12-href')} />
                </Button>
              </CardFooter>
            </CardContent>
          </Card>
        </div>
      </div>

      <div class="hidden lg:flex lg:w-1/2 lg:justify-center">
        <Image
          class="h-[28rem] w-[28rem] flex-shrink-0 rounded-full object-cover xl:h-[34rem] xl:w-[34rem]"
          src={PumpRepairPicture}
          alt="AquaPumpers Logo Picture Main"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
  }

  .circle {
    background: #222222;
    width: 100px;
    height: 100px;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 3s linear infinite;
  }

  .circle img {
    width: 100%;
  }

  @keyframes morph {
    0%,
    100% {
      border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }
</style>
