---
import SmallText from './typography/SmallText.astro'
import H1 from './typography/H1.astro'
import H2 from './typography/H2.astro'
import Large from './typography/Large.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import { Image } from 'astro:assets'
import severage from '@/assets/severage.png'
import shkaf from '@/assets/shkaf.png'
import wells from '@/assets/wells.png'
import Car from '@/assets/Car.png'
import pumprepair from '@/assets/pumprepair.png'
import wellsetup from '@/assets/wellsetup.png'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section class="py-10 sm:py-16 lg:py-24 ">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <H2>{t('hero-title')}</H2>
      <Large>
        {t('hero-subtitle')}
      </Large>
    </div>

    <div
      class="mt-12 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 xl:gap-10"
    >
      <div class="overflow-hidden rounded shadow">
        <div class="p-8">
          <div class="flex items-center">
            <Image src={severage} alt="" class="" />
            <div class="ml-5 mr-auto">
              <Large>{t('hero-service6')}</Large>
              
            </div>
          </div>
          <SmallText>
            {t('hero-desc6')}
          </SmallText>
        </div>
        <div class="text-center">
          <small class="text-sm font-medium leading-none"
                >Direct Integration
          </small>
        </div>
      </div>

      <div class="overflow-hidden rounded shadow">
        <div class="p-8">
          <div class="flex items-center">
            <Image src={Car} alt="" class="" />
            <div class="ml-5 mr-auto">
              <Large>{t('hero-service1')}</Large>
            </div>
          </div>
          <SmallText>
            {t('hero-desc1')}
          </SmallText>
        </div>
        <div class="text-center">
          <small class="text-sm font-medium leading-none"
                >Direct Integration
          </small>
        </div>
      </div>

      <div class="overflow-hidden rounded shadow">
        <div class="p-8">
          <div class="flex items-center">
            <Image src={wells} alt="" class="" />
            <div class="ml-5 mr-auto">
              <Large>{t('hero-service2')}</Large>
            </div>
          </div>
          <SmallText>
            {t('hero-desc2')}
          </SmallText>
        </div>
        <div class="text-center">
          <small class="text-sm font-medium leading-none"
                >Direct Integration
          </small>
        </div>
      </div>

      <div class="overflow-hidde rounded shadow">
        <div class="p-8">
          <div class="flex items-center">
            <Image src={wellsetup} alt="" class="" />
            <div class="ml-5 mr-auto">
              <Large>{t('hero-service3')}</Large>
            </div>
          </div>
          <SmallText>
            {t('hero-desc3')}
          </SmallText>
        </div>
        <div class="text-center">
          <small class="text-sm font-medium leading-none"
                >Direct Integration
          </small>
        </div>
      </div>

      <div class="overflow-hidden rounded shadow">
        <div class="p-8">
          <div class="flex items-center">
            <Image src={pumprepair} alt="" class="" />
            <div class="ml-5 mr-auto">
              <Large>{t('hero-service4')}</Large>
            </div>
          </div>
          <SmallText>
            {t('hero-desc4')}
          </SmallText>
        </div>
        <div class="text-center">
          <small class="text-sm font-medium leading-none"
                >Direct Integration
          </small>
        </div>
      </div>

      <div class="overflow-hidden rounded shadow">
        <div class="p-8">
          <div class="flex items-center">
            <Image src={shkaf} alt="" class="" />
            <div class="ml-5 mr-auto">
              <Large>{t('hero-service5')}</Large>
            </div>
          </div>
          <SmallText>
            {t('hero-desc5')}
          </SmallText>
        </div>
        <div class="text-center">
          <small class="text-sm font-medium leading-none"
                >Direct Integration
          </small>
        </div>
      </div>
    </div>

    <div class="mt-12 text-center">
      <a
        href="#"
        title=""
        class="inline-flex p-3 font-medium text-blue-600 transition-all duration-200 hover:text-blue-700 hover:underline focus:text-blue-700"
      >
        Check all 1,593 applications
      </a>
    </div>
  </div>
</section>
